.left-side{
    background: #001030;
    color: white;
    height: 75vh;
}

.ls-top{
    /* border: 2px solid green; */
    padding: 20px;
}
.ls-nav{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ls-nav .nav-logo{
    width: 140px;
}

.menu img{
    max-height: 20px;
    opacity: 0.6;
    cursor: pointer;
}

.ls-search{
    background-color: #002670;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    margin-top: 20px;
    border-radius: 5px;
}

.ls-search img{
    width: 18px;
    cursor: pointer;
}
.ls-search input{
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 12px;
}
.ls-search input::placeholder{
    color: #c8c8c8;
}


/* Friend list */
.ls-list{
    display: flex;
    flex-direction: column;
    height: 70%;
    overflow-y: scroll;
}

.friends{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 13;
}

.friends img{
    width: 35px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.friends div{
    display: flex;
    flex-direction: column;
}

.friends span{
    color: #9f9f9f;
    font-size: 11px;
}

.friends:hover{
    background-color: #077eff;
}
.friends:hover span{
    color: white;
}